@font-face {
  font-family: 'Georgia Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Georgia Regular'),
    url('../../assets/fonts/georgia.woff') format('woff');
}

@font-face {
  font-family: 'Arial Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Regular'),
    url('../../assets/fonts/ARIAL.woff') format('woff');
}

@font-face {
  font-family: 'Georgia Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Georgia Bold'),
    url('../../assets/fonts/georgiab.woff') format('woff');
}

@font-face {
  font-family: 'Arial Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Italic'),
    url('../../assets/fonts/ARIALI.woff') format('woff');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Georgia Regular', serif;
  font-weight: 400;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

li {
  text-align: center;
}

:root {
  --color-light-xl: #ffffff;
  --color-light-l: #f6f6f6;
  --color-light-s: #fafafa;
  --color-dark-s: #cdcdcd;
  --color-dark-m: #b2b2b2;
  --color-dark-l: #545454;
  --color-dark-xl: #4c4c4c;
  --color-dark-2xl: #292929;
  --color-dark-3xl: #292929;
  --color-primary: #f1cdb3;
  --color-primary-light: #fddcc4;
  --start-screen-gradient-background: url(../../assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  --footer-gradient-background: url(../../assets/images/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.button {
  font-family: 'Georgia Regular', serif;
  font-size: 1.0625rem;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  padding: 0.9375rem 2.8125rem;
  border: none;
  border-radius: 6.25rem;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn {
  background-color: var(--color-primary);
}

.transp-btn {
  background-color: inherit;
  outline: 2px solid var(--color-primary);
}
.button:hover {
  background-color: var(--color-primary-light);
}

.transp-btn:hover {
  outline: 2px solid var(--color-primary-light);
}

.button:active {
  background-color: var(--color-primary);
  outline: 2px solid var(--color-primary);
}

.pets .wrapper {
  padding-top: 5rem;
  padding-bottom: 6.25rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-logo a {
  display: block;
}

.header-logo-title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin-bottom: 10px;
}

.header-logo-subtitle {
  font-size: 0.8125rem;
  line-height: 1.15em;
  letter-spacing: 0.1em;
  color: var(--color-dark-3xl);
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 2.1875rem;
}

.nav-link {
  font-family: 'Arial Regular', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.6em;
  color: var(--color-dark-l);
  letter-spacing: 0.01em;
  transition: 0.3s;
}

.active-nav {
  color: var(--color-dark-3xl);
}

.nav-link:hover {
  color: var(--color-dark-3xl);
}

.active-nav::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--color-primary);
}

.main {
  margin-top: 7.5rem;
}

.section-heading {
  font-size: 2.1875rem;
  font-weight: 400;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
  margin-bottom: 2.8125rem;
}

.pets {
  background-color: var(--color-light-l);
}

.pets .section-heading {
  text-align: center;
}

.slider-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  padding: 15px 0;
  margin-bottom: 45px;
}

.card {
  width: 16.875rem;
  background-color: var(--color-light-s);
  border-radius: 0.5625rem;
  padding-bottom: 1.875rem;
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0px 0px 15px var(--color-dark-3xl);
}

.card:hover .button {
  background-color: var(--color-primary-light);
  outline: 2px solid var(--color-primary-light);
}

.card .button:active {
  background-color: var(--color-primary);
  outline: 2px solid var(--color-primary);
}

.pet-pic {
  display: block;
  width: 100%;
  margin-bottom: 1.875rem;
}

.pet-name,
.option-name {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.15em;
  letter-spacing: 0.06em;
  text-align: center;
}

.pet-name {
  margin-bottom: 1.875rem;
}

.pets .button {
  display: block;
  margin: 0 auto;
}

.slider-controls {
  max-width: 21.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.circle-btn {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  font-family: 'Georgia Regular';
  font-size: 1.25rem;
  line-height: 1.15em;
  letter-spacing: 0.06em;
  transition: 0.3s;
}

.circle-btn.inactive {
  background-color: inherit;
  color: var(--color-dark-s);
  outline: 2px solid var(--color-dark-s);
  border: none;
  cursor: auto;
}

.circle-btn.active {
  background-color: inherit;
  color: var(--color-dark-3xl);
  border: none;
  outline: 2px solid var(--color-primary);
}

.circle-btn.page-num {
  background-color: var(--color-primary);
}

.circle-btn.active:hover {
  background-color: var(--color-primary-light);
  outline: 2px solid var(--color-primary-light);
}

.circle-btn.active:active {
  background-color: var(--color-primary);
  outline: 2px solid var(--color-primary);
}

.footer {
  background: var(--footer-gradient-background);
}

.footer .wrapper {
  padding-top: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer .section-heading {
  color: var(--color-light-xl);
}

.footer .contacts,
.footer .locations {
  padding-top: 1rem;
  padding-bottom: 3.75rem;
}

.contacts .section-heading {
  margin-bottom: 2.5rem;
}

.footer li {
  font-size: 1.25rem;
  line-height: 1.15em;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  position: relative;
}

.footer li::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

.email {
  padding: 3px 0 3px 32px;
  margin-bottom: 2.5rem;
}

.tel {
  padding: 5px 0 4px 22px;
}

.email::before {
  content: url('../../assets/icons/mail.png');
}

.tel::before {
  content: url('../../assets/icons/phone.png');
}

.locations {
  min-width: 302px;
}

.locations li:nth-child(1) {
  padding-left: 20px;
  margin-bottom: 2rem;
}

.locations .section-heading {
  margin-bottom: 2.125rem;
}

.locations li::before {
  content: url('../../assets/icons/pin.png');
}

.locations li {
  padding-left: 10px;
}
