@font-face {
  font-family: 'Georgia Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Georgia Regular'),
    url('../assets/fonts/georgia.woff') format('woff');
}

@font-face {
  font-family: 'Arial Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Regular'), url('../assets/fonts/ARIAL.woff') format('woff');
}

@font-face {
  font-family: 'Georgia Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Georgia Bold'),
    url('../assets/fonts/georgiab.woff') format('woff');
}

@font-face {
  font-family: 'Arial Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Italic'), url('../assets/fonts/ARIALI.woff') format('woff');
}
