@import './media-queries';

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2.5rem;
  @include mediaQuery($tablet) {
    padding: 0 1.875rem;
  }
}

// HEADER
header {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    display: block;
  }
}

.header-logo-title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.1em;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.header-logo-subtitle {
  font-size: 0.8125rem;
  line-height: 1.15em;
  letter-spacing: 0.1em;
  margin-left: 4px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 2.1875rem;
}

.nav-link {
  font-family: 'Arial Regular', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.6em;
  letter-spacing: 0.01em;
  transition: 0.3s;
}

.active-nav {
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $color-primary;
  }
}

// BUTTONS
.button {
  display: block;
  box-sizing: border-box;
  font-family: 'Georgia Regular', serif;
  font-size: 1.0625rem;
  line-height: 1.3em;
  letter-spacing: 0.06em;
  color: $color-dark-3xl;
  padding: 0.8125rem 2.6875rem;
  border-radius: 6.25rem;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
  }

  :active {
    background-color: $color-primary;
    border: 2px solid $color-primary;
  }
}

.primary-btn {
  background-color: $color-primary;
  border: 2px solid $color-primary;
}

.transp-btn {
  background-color: inherit;
  border: 2px solid $color-primary;

  &:hover {
    border: 2px solid $color-primary-light;
  }
}

.circle-btn {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
}

.white-btn {
  background-color: inherit;
  border: 2px solid $color-primary;
  transition: 0.3s;

  &:hover {
    background-color: $color-primary-light;
    border: 2px solid $color-primary-light;
  }

  &:active {
    background-color: $color-primary;
    border: 2px solid $color-primary;
  }
}

// CARDS

.card {
  width: 16.875rem;
  background-color: $color-light-s;
  border-radius: 0.5625rem;
  padding-bottom: 1.875rem;
  transition: 0.3s;

  &:hover {
    box-shadow: 0px 0px 15px $color-dark-3xl;

    .button {
      background-color: $color-primary-light;
      border: 2px solid $color-primary-light;
    }
  }

  .button:active {
    background-color: $color-primary;
    border: 2px solid $color-primary;
  }
}

.pet-pic {
  display: block;
  width: 100%;
  margin-bottom: 1.875rem;
}

// FOOTER
.footer {
  background: $footer-gradient-background;

  .wrapper {
    padding-top: 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .section-heading {
    color: $color-light-xl;
  }

  .contacts,
  .locations {
    padding-top: 1rem;
    padding-bottom: 3.75rem;
  }

  li {
    font-size: 1.25rem;
    line-height: 1.15em;
    letter-spacing: 0.06em;
    color: $color-primary;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
    }
  }
}

.contacts {
  .section-heading {
    margin-bottom: 2.5rem;
  }
}

.email {
  padding: 3px 0 3px 32px;
  margin-bottom: 2.5rem;

  &::before {
    content: url('../assets/icons/mail.png');
  }
}

.tel {
  padding: 5px 0 4px 22px;

  &::before {
    content: url('../assets/icons/phone.png');
  }
}

.locations {
  min-width: 302px;

  li {
    padding-left: 10px;

    &:nth-child(1) {
      padding-left: 20px;
      margin-bottom: 2rem;
    }

    &::before {
      content: url('../assets/icons/pin.png');
    }
  }

  .section-heading {
    margin-bottom: 2.125rem;
  }
}
